<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Set site favicon -->
<link rel="shortcut icon" type="image/png" href="https://ellenlloyd.ca/images/favicon-32x32.png">

<!-- Provide open graph image preview -->
<meta property="og:image" content="https://ellenlloyd.ca/racket-sudoku/promo/og.png" />
<meta name="twitter:image" content="https://ellenlloyd.ca/racket-sudoku/promo/og.png" />

<!-- Set author and type metadata-->
<meta name="author" content="Ellen Lloyd">
<meta name="type" content="webpage">
<meta name="keywords" 
      content="Sudoku, Sudoku Solver, Sudoku Game, Racket, Racket Language, Test Driven Development, Functional Programming, Pure-Functional, HtDP, HtDF, Systematic Program Design">

<!-- end custom head snippets -->
